@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guest</title>
</head>
<body>
    <header></header>
    <article>
        <section>
                @foreach(ShopSystem.ProductStock pS in ViewBag.catalogue)
                {
                    <table>
                        <tr>
                            <th>ps.Name</th>
                            <th>ps.StockId</th>
                        </tr>
                    </table>
                    foreach(ShopSystem.Product p in ViewBag.catalogue.Products)
                    {
                        
                    }
                }
        </section>
    </article>
</body>
</html>
