body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    background-color:black;
    padding:5px;
}
.form-data{
    display:inline-block;
    width: 100%;
}
#textBottom {
    color: white;
}
#Last10Products, #Users, #Purchases {
    display: none;
}

ul {
    list-style-type: none;
    display: inline;
}
li{
    display:inline;
    background-color:black;
    color:white;
    padding:5px;
}
.navButtons{
    margin-top:10px;
}

main{
    margin-top:20px;
}

nav{
    display:inline;
}
#commonDiv{
    margin-top:30px;
}
#Client{
    display:block;
}
#Users, #Purchases, #CreateUser, #CreateProduct{
    display:none;
}